<section class="w-full project-grid gap-in_element">
    <div class="desktop:col-span-2 tablet:col-span-3 phone:col-span-2 h-[300px] bg-lime-500">IMAGE 1</div>
    <div class="desktop:col-span-3 tablet:col-span-3 phone:col-span-2 h-[300px] bg-red-500">IMAGE 2</div>
</section>