---
import ListItem from "../../components/ListItem.astro"
import MainLayout from "../../layouts/MainLayout.astro"
import "../../styles/grids.css"
import "../../styles/vertical_spacings.css"
---

<MainLayout title="Подкаст - Filipchik Studios">

    <!-- TODO: Add correct horizontal spacings -->
    <main class="footer-spaced desktop:pt-[200px] tablet:pt-[140px] phone:pt-[140px] text-text side-margins">
        <div>
            <h1 class="header-2">МЫ ОНЛАЙН</h1>
            <div class="project-grid-no-padding top-body-header nav-link">
                <!-- TODO: Make this first link not pressable -->
                <a href="/online/talks" class="text-text_dimmed">НАС ПРИГЛАШАЮТ</a>
                <a href="/online/podcast" class="underline">ПОДКАСТ</a>
            </div>
        </div>
        <!-- Main Content -->
         <ul class="w-fit h-fit desktop:space-y-[50px] tablet:space-y-[50px] space-y-[45px] top-page_tilte-content">
            <ListItem jobTitle="ВИРТУАЛЬНАЯ ЖОПА" summaryPoints={["2024-2023 ГОД"]} summaryFull="Для предпринимателей, маркетологов, проджектов и продактов, которые ничего не знают о метавселенной, но хотят её использовать в бизнесе, мы предлагаем слушать “Виртуальную жопу”. Потому что благодаря нашей “жопе” вы узнаете, что такое метавселенная, как она развивается и как может принести прибыль вашему бизнесу." links={
                [{
                    text:"ОТРКЫТЬ",
                    link:"/not_specified"
                }
            ]
            }/>
         </ul>
         <div class="top-page_tilte-content w-full side-margins flex flex-row justify-center space-x-20 nav-link">
                <!-- TODO: Make this first link not pressable -->
                <a href="/online/talks" class="text-text_dimmed">НАС ПРИГЛАШАЮТ</a>
                <a href="/online/podcast" class="underline">ПОДКАСТ</a>
         </div>
    </main>

</MainLayout>