---
import ListItem from "../../components/ListItem.astro"
import MainLayout from "../../layouts/MainLayout.astro"
import "../../styles/grids.css"
import "../../styles/vertical_spacings.css"
---

<MainLayout title="Выступления - Filipchik Studios">

    <!-- TODO: Add correct horizontal spacings -->
    <main class="footer-spaced desktop:pt-[200px] tablet:pt-[140px] phone:pt-[140px] text-text side-margins">
        <div>
            <h1 class="header-2">МЫ ОНЛАЙН</h1>
            <div class="project-grid-no-padding top-body-header nav-link">
                <!-- TODO: Make this first link not pressable -->
                <a href="/online/talks" class="underline w-fit">НАС ПРИГЛАШАЮТ</a>
                <a href="/online/podcast" class="text-text_dimmed w-fit">ПОДКАСТ</a>
            </div>
        </div>
        <!-- Main Content -->
         <ul class="w-fit h-fit desktop:space-y-[50px] tablet:space-y-[50px] space-y-[45px] top-page_tilte-content">
            <ListItem jobTitle="ВК ТЕХПРОСВЕСТ" summaryPoints={["2024 ГОД"]} summaryFull="В контексте появления новых технологий у студентов возникает множество вопросов о своей специальности.Будет ли она востребована в будущем? Какие профессии и навыки будут нужны в 2024? Где и как искать работу и инвестиции для стартапов?" links={
                [{
                    text:"ОТРКЫТЬ",
                    link:"https://vk.com/video-218852519_456239175?t=50m55s",
                    iconPath:"/icons/arrow-up-right-white.svg",
                    iconAlt:"Navigate Away"
                }
            ]
            }/>
            <hr class="border-t-1 border-text">
            <ListItem jobTitle="ИНТРЕВЬЮ СОКОЛОВУ" summaryPoints={["2024 ГОД"]} summaryFull="В выпуске Максим и Александр обсудили бизнес клуб МГИМО и метавселенные, поболтали про элитный ВУЗ. Гость рассказал про Восточный Экономический Форум, и про то, как он добивается внимания топовых спикеров из Forbes 30 u 30." links={
                [{
                    text:"ОТРКЫТЬ",
                    link:"https://www.youtube.com/watch?v=nYvEwTtn0GM",
                    iconPath:"/icons/arrow-up-right-white.svg",
                    iconAlt:"Navigate Away"
                }
            ]
            }
            />
            <hr class="border-t-1 border-text">
            <ListItem jobTitle="ТЕХНОЛОГИИ & ЖИЗНЬ" summaryPoints={["2023 ГОД"]} summaryFull="Как попасть в метавселенную? Мы поговорили c основателем агентства иммерсивного маркетинга Filipchik Studios, исследователем мета-вселенных и маркетологом в виртуальной реальности." links={
                [{
                    text:"ОТРКЫТЬ",
                    link:"https://www.youtube.com/watch?v=455ihH19uMM&t=19s",
                    iconPath:"/icons/arrow-up-right-white.svg",
                    iconAlt:"Navigate Away"
                }
            ]
            } 
            />
            <hr class="border-t-1 border-text">
            <ListItem jobTitle="COINSTRUCT PODCAST" summaryPoints={["2023 ГОД"]} summaryFull="Жива ли метавселенная - Рынок метавселенных в мире и РФ - Как бизнес использует метаверс? - Реальные кейсы метаверса. Поговорили с Сашей Филипчиком, основателем Filipchik Studios, о рынке метавсселенных в Росии и за ее пределами" links={
                [{
                    text:"ОТРКЫТЬ",
                    link:"https://www.youtube.com/watch?v=Jj1vCqmgsL4",
                    iconPath:"/icons/arrow-up-right-white.svg",
                    iconAlt:"Navigate Away"
                }
            ]
            }
            />
         </ul>
         <div class="top-page_tilte-content w-full side-margins flex flex-row justify-center space-x-20 nav-link">
                <!-- TODO: Make this first link not pressable -->
                <a href="/online/talks" class="underline">НАС ПРИГЛАШАЮТ</a>
                <a href="/online/podcast" class="text-text_dimmed">ПОДКАСТ</a>
         </div>
    </main>

</MainLayout>