---
import ListItem from "../components/ListItem.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/grids.css"
import "../styles/vertical_spacings.css"
---

<MainLayout title="Карьера - Filipchik Studios">

    <!-- TODO: Add correct horizontal spacings -->
    <main class="footer-spaced desktop:pt-[200px] tablet:pt-[140px] phone:pt-[140px] text-text side-margins">
        <h1 class="header-2">ВАКАНСИИ</h1>
        <!-- Main Content -->
        <ul class="w-fit h-fit desktop:space-y-[50px] tablet:space-y-[50px] space-y-[45px]">
            <ListItem jobTitle="Talent Hunter" summaryPoints={["МОСКВА, ОНЛАЙН","ОПЫТ 3-5 лет","70-130К"]} summaryFull="Талантливым людям нравится работать с талантливыми людьми, поэтому мы ищем искателя талантов. Ключевые компетенции: подбирать специалистов под неординарные задачи и интеграировать их в команду." 
            links={
                [{
                    text:"ОТКЛИКНУТЬСЯ",
                    link:"mailto:info@filipchikstudios.com?subject=Подача на 'Talent Hunter' - Filipchik Studios",
                    iconPath:"/icons/email-icon.svg",
                    iconAlt:"Email"
                },
                {
                    text:"ОПИСАНИЕ ВАКАНСИИ",
                    link:"https://drive.google.com/file/d/1s6xIe3GV_dh18z9MDM_1JM8zepouzf_A/view",
                    iconPath:"/icons/download-icon.svg",
                    iconAlt:"Download"  
                }
            ]
            }
            />
            <hr class="border-t-1 border-text">
            <ListItem jobTitle="Проектный Менеджер" summaryPoints={["МОСКВА, ОНЛАЙН","ОПЫТ 5+ лет","150-200К"]} summaryFull="Разработка метавселенной требует системности и грамотного управления многопрофильной командой специалистов. Ключевые компетенции: планирование проекта, управление командой в рамках проекта, работа и общение с клиентом." links={
                [{
                    text:"ОТКЛИКНУТЬСЯ",
                    link:"mailto:info@filipchikstudios.com?subject=Подача на 'Проектный Менеджер' - Filipchik Studios",
                    iconPath:"/icons/email-icon.svg",
                    iconAlt:"Email"
                },
                {
                    text:"ОПИСАНИЕ ВАКАНСИИ",
                    link:"https://drive.google.com/file/d/1__HsyQWpDqAmU5ebjQggFfY1g618MI13/view",
                    iconPath:"/icons/download-icon.svg",
                    iconAlt:"Download"  
                }
            ]
            }
            />
            <hr class="border-t-1 border-text">
            <ListItem jobTitle="Разработчик на Lua / Roblox" summaryPoints={["ОНЛАЙН","MIDDLE","150-250К"]} summaryFull="Ищем специалиста с портфолио коммерческих проектов в Roblox и опытом управления командой (2-5 человек) на IT проектах. Ключевая компетенция: разработка игр и программирование плейсов" links={
                [{
                    text:"ОТКЛИКНУТЬСЯ",
                    link:"mailto:info@filipchikstudios.com?subject=Подача на 'Разработчик на Lua / Roblox' - Filipchik Studios",
                    iconPath:"/icons/email-icon.svg",
                    iconAlt:"Email"
                },
                {
                    text:"ОПИСАНИЕ ВАКАНСИИ",
                    link:"https://drive.google.com/file/d/1AnEJLCjYHPHURbjtaV0GgE7SdjzxKmbx/view",
                    iconPath:"/icons/download-icon.svg",
                    iconAlt:"Download"   
                }
            ]
            }
            />
        </ul>
        
    </main>

</MainLayout>