---
import "../styles/grids.css"
import "../styles/vertical_spacings.css"
import svgReference from '../../public/logo_alt.svg'; // svgReference === '/src/logo_alt.svg'
import FooterLink from "./FooterLink.astro";
---

<!-- TODO: Add correct side spacing -->
<footer class="bg-text w-full text-background side-margins in_element">

    <div class="project-grid-no-padding gap-in_element nav-link">
        <img src={svgReference.src} alt="Filipchik Studios Logo" loading="lazy" draggable="false" class="col-span-1 desktop:col-start-3 tablet:col-start-2 phone:col-start-1" />
        <div class="flex flex-1 justify-center row-start-2 desktop:col-start-2 phone:col-start-1">
            <a href="/careers" class="text-center text-based-link w-fit h-fit">КАРЬЕРА</a>
        </div>
        <div class="flex flex-1 justify-center row-start-2 desktop:col-start-4 tablet:col-start-3 phone:col-start-2">
            <a href="/online/talks" class="text-center text-based-link w-fit h-fit">МЫ ОНЛАЙН</a>
        </div>
    </div>

   
    
    <!-- Social Media Links -->
    <h3 class="header-4 top-in_element">Контакты</h3>
    <hr class="border-t-1 border-background">
     <div class="project-grid-no-padding body-header gap-in_element items-center justify-center">
        <FooterLink text="INSTAGRAM" dest="https://www.instagram.com/fililipchik/"/>
        <FooterLink text="TELEGRAM" dest="https://t.me/filipchik_daily_ru"/>
        <FooterLink text="YOUTUBE" dest="https://www.youtube.com/channel/UCSiCnudLqq8rRxHzjAdaszA"/>
        <FooterLink text="TWITTER" dest="https://x.com/i/flow/login?redirect_after_login=%2Ffililipchik"/>
        <FooterLink text="MAIL" dest="mailto:info@filipchikstudios.com?subject=Привет Filipchik Studios"/>
        <FooterLink text="FACEBOOK" dest="https://www.facebook.com/fililipchik?mibextid=LQQJ4d"/>
        <FooterLink text="VK" dest="https://vk.com/mark1236"/>
        <FooterLink text="WHATSAPP" dest="https://api.whatsapp.com/send/?phone=79168027761&text&type=phone_number&app_absent=0"/>
        <FooterLink text="LINKEDIN" dest="https://www.linkedin.com/in/alexander-filipchik-088156241/"/>
    </div>
    <hr class="border-t-1 border-background">

    <!-- FIXME: When going to smaller screen sizes the inner div does not display any top padding -->
    <div class="w-full project-grid-no-padding text-center footer-small-text top-in_element nav-link">
        <div class="flex flex-1 justify-center desktop:col-start-2 order-1">
            <a href="/#no_where" class="h-fit w-fit">УСЛОВИЯ ПОЛЬЗОВАНИЯ САЙТОМ</a>
        </div>
        
        <div class="phone:col-span-2 phone:items-center phone:order-last tablet:order-2 tablet:col-span-1 hover:cursor-default">
            <p>@2023-2024</p>
            <p>FILIPCHIK STUDIOS LLC</p>
        </div>
        <div class="order-3 flex flex-1 justify-center">
            <a href="/#no_where" class="h-fit w-fit">ПОЛИТИКА ОБРАБОТКИ ДАННЫХ</a>
        </div>
    </div>
    <div class="w-full flex flex-col items-center justify-center footer-small-text top-in_element nav-link">
        <a href="https://adtimokhin.me" target="_blank" class="self-center ">WEBSITE BY @ADTIMOKHIN</a>
    </div>
</footer>

<style>
    .contact-link {
        position: relative;
        display: inline-block;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
    }


    .nav-link a {
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
    }

    .nav-link a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition: width 0.3s ease;
    }

    .nav-link a:hover::after {
        width: 100%;
    }

</style>
