---
const {dest, text, isPrimary, iconPath, iconAlt} = Astro.props
---
<a href={dest} class={`nav-link ${isPrimary? "bg-accent text-white" : "bg-white text-text"} rounded-full px-5 py-4 flex gap-3 justify-between items-center`}>
    <p>{text}</p>
    <!-- For now we have a fixed icon -->
    <img src={iconPath} alt={iconAlt} width="30px" loading="lazy" />
</a>

