---
import { Image } from 'astro:assets';

const {text, linkDest, imagePath, imageAlt, reversed} = Astro.props
---

<!-- TODO: Add a reversed order for image and text -->
<a href={linkDest} class="project-grid-no-padding items-center">
    <Image src={imagePath} alt={imageAlt} width={1} height={1} draggable="false" loading="eager" class={`w-full h-[116px] rounded-full desktop:col-span-2 tablet:col-span-1 phone:col-span-1 ${reversed? "order-last":""}`}/>
    <h3 class={`large-text h-fit ${reversed? "text-left":"text-right"} desktop:col-span-3 tablet:col-span-2 phone:col-span-1`}>{text}</h3>
</a>