---
import { Image } from 'astro:assets';

const {text, linkDest, imagePath, imageAlt, reversed} = Astro.props
---

<!-- TODO: Add a reversed order for image and text -->
<a href={linkDest} class={`flex justify-between items-center group desktop:h-[200px] tablet:h-[140px] phone:h-[100px] project-link-container ${reversed? "anti-color" : ""}`}>
    <div class={`group-hover:desktop:w-[35%] desktop:w-[30%] group-hover:tablet:w-[45%] tablet:w-[40%] group-hover:phone:w-[45%] phone:w-[40%] desktop:group-hover:h-[200px] tablet:group-hover:h-[140px] phone:group-hover:h-[100px] desktop:group-hover:rounded-[112px] overflow-hidden desktop:h-[116px] tablet:h-[120px] phone:h-[10vw] rounded-full desktop:col-span-2 tablet:col-span-1 phone:col-span-1 ${reversed? "order-last":""} flex felx-1 justify-center items-center transition-all duration-300`}>
        <Image src={imagePath} alt={imageAlt} width={1} height={1} draggable="false" loading="eager" class={`w-full desktop:h-[200px] tablet:h-[140px] phone:h-[100px] desktop:col-span-2 tablet:col-span-1 phone:col-span-1 ${reversed? "order-last":""}`}/>
    </div>
    
    </div>
    
    <h3 class={`large-text h-fit ${reversed? "text-left":"text-right"} desktop:col-span-3 tablet:col-span-2 phone:col-span-1 text-text group-hover:text-white transition-colors`}>{text}</h3>
</a>

<style is:global>

    body.bg-orange {
        background-color: var(--accent);
    }

    body.bg-blue {
        background-color: var(--main);
    }
    
</style>

<script>
// scripts.js
document.addEventListener('DOMContentLoaded', () => {
    const projectLinks = document.querySelectorAll('.project-link-container');

    projectLinks.forEach(link => {
        link.addEventListener('mouseenter', () => handleMouseEnter(link));
        link.addEventListener('mouseleave', handleMouseLeave);
    });

    function handleMouseEnter(link) {
        if (link.classList.contains('anti-color')) {
            document.body.classList.add('bg-blue');
        } else {
            document.body.classList.add('bg-orange');
        }
    }

    function handleMouseLeave() {
        document.body.classList.remove('bg-orange');
        document.body.classList.remove('bg-blue');
    }
});


</script>