---
import Footer from "../components/Footer.astro"
import NavBar from "../components/NavBar.astro"
const { title } = Astro.props;

/* Colors used in the project */
const background = "#ECE6E1";
const text = "#4D4D4D";
const white = "#FFFFFF";
const main = "#0B73FD";
const accent = "#F77200";
const text_dimmed = "rgba(77,77,77,0.5);";

---

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Главная - Filipchik Studios" />
        <meta property="og:description" content="Создание метавселенных для маркетинга. Помощь в конвертации" />
        <meta property="og:image" content="/images/seo_image.png" />
        <meta property="og:url" content="https://filipchik-studio-website-redesign.vercel.app/" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Filipchik Studios" />

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Главная - Filipchik Studios" />
        <meta name="twitter:description" content="Создание метавселенных для маркетинга. Помощь в конвертации" />
        <meta name="twitter:image" content="/images/seo_image.png" />
        <meta name="twitter:site" content="@Filipchik Studios" />

        <title>{title}</title>
        <meta name="description" content="Создание метавселенных для маркетинга. Помощь в конвертации">
	</head>
	<body>
        <NavBar/>
		<slot>
            Default if nothing is passed...
        </slot>
        <Footer/>
	</body>
</html>


<!-- Styles -->
<style is:global define:vars={{background, main, accent, text, text_dimmed, white}}>

    /* Variables */
    :root
    {
        /* We use the same font throughout the whole project */
        font-family: "SF-Pro","Helvetica", sans-serif; 
    }


    body
    {
        /* This transition is for animating ProjectLink.astro effect */
        transition: background-color 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
        background-color: #ecded2;
    }

    /* Text Styles */

    /* Desktop breakpoint */
    @media (width >= 1280px) 
    {
        .large-text
        {
            font-weight: 900; 
            font-size: 7.625rem;
            letter-spacing:-3%;
        }

        .body
        {
            font-weight: 300; /* TODO: Check if this equals to REGULAR font size */
            font-size: 1.5rem;
            letter-spacing:-3%;
        }

        .section-title
        {
            font-weight: 900;
            font-size: 12.4rem;
            line-height: 155%;
            letter-spacing:-3%;
            -webkit-text-stroke-width: 1px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: var(--text_dimmed);
        }

        .header-2
        {
            font-weight: 900;
            font-size: 6.5rem;
            letter-spacing:-3%;
        }

        .header-3
        {
            font-weight: 900;
            font-size: 3rem;
        }

        .header-4
        {
            font-weight: 300; /* TODO: Check if this equals to REGULAR font size */
            font-size: 2.5rem;
        }

        .nav-link
        {
            font-weight: 600; /* TODO: Check if this equals to SEMIBOLD font size */
            font-size: 1rem;
            letter-spacing:-3%;
        }

        .text-based-link
        {
            font-weight: 600; /* TODO: Check if this equals to SEMIBOLD font size */
            font-size: 1.25rem;
            letter-spacing:-3%;
        }

        .footer-small-text
        {
            font-weight: 300; /* TODO: Check if this equals to REGULAR font size */
            font-size: 0.875rem;
            letter-spacing:-3%;
        }
    }

    /* Tablet breakpoint */
    @media (768px <= width < 1280px) 
    {
        .large-text
        {
            font-weight: 900; 
            font-size: 5.188rem;
            letter-spacing:-3%;
        }

        .body
        {
            font-weight: 300; /* TODO: Check if this equals to REGULAR font size */
            font-size: 1.25rem;
            letter-spacing:-3%;
        }

        .section-title
        {

            font-weight: 900;
            font-size: 11.5rem;
            line-height: 155%;
            letter-spacing:-3%;
            -webkit-text-stroke-width: 1px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: var(--text_dimmed);
        }

        .header-2
        {
            font-weight: 900;
            font-size: 4.375rem;
            letter-spacing:-3%;
        }

        .header-3
        {
            font-weight: 900;
            font-size: 2.25rem;
        }

        .header-4
        {
            font-weight: 300; /* TODO: Check if this equals to REGULAR font size */
            font-size: 2rem;
        }

        .nav-link
        {
            font-weight: 600; /* TODO: Check if this equals to SEMIBOLD font size */
            font-size: 0.875rem;
            letter-spacing:-3%;
        }

        .text-based-link
        {
            font-weight: 600; /* TODO: Check if this equals to SEMIBOLD font size */
            font-size: 1rem;
            letter-spacing:-3%;
        }

        .footer-small-text
        {
            font-weight: 300; /* TODO: Check if this equals to REGULAR font size */
            font-size: 0.875rem;
            letter-spacing:-3%;
        }
    }

    /* Phone breakpoint */
    @media (width < 768px) {
        .large-text
        {
            font-weight: 900; 
            font-size: 2.5rem;
            letter-spacing:-3%;
        }

        .body
        {
            font-weight: 300; /* TODO: Check if this equals to REGULAR font size */
            font-size: 1rem;
            letter-spacing:-3%;
        }

        .section-title
        {
            font-weight: 900;
            font-size: 8rem;
            line-height: 155%;
            letter-spacing:-3%;
            -webkit-text-stroke-width: 1px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: var(--text_dimmed);
        }

        .header-2
        {
            font-weight: 900;
            font-size: 2.5rem;
            letter-spacing:-3%;
        }

        .header-3
        {
            font-weight: 900;
            font-size: 1.563rem;
        }

        .header-4
        {
            font-weight: 300; /* TODO: Check if this equals to REGULAR font size */
            font-size: 1.5rem;
        }

        .nav-link
        {
            font-weight: 600; /* TODO: Check if this equals to SEMIBOLD font size */
            font-size: 0.813rem;
            letter-spacing:-3%;
        }

        .text-based-link
        {
            font-weight: 600; /* TODO: Check if this equals to SEMIBOLD font size */
            font-size: 0.875rem;
            letter-spacing:-3%;
        }

        .footer-small-text
        {
            font-weight: 300; /* TODO: Check if this equals to REGULAR font size */
            font-size: 0.813rem;
            letter-spacing:-3%;
        }
    }



    .side-margins
    {
        @apply desktop:px-[80px] tablet:px-[40px] px-[20px] 
    }

</style>